/* catppuccin mocha */

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

$text: #cdd6f2;
$subtext0: #a6acd8;
$subtext1: #bac2de;
$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$accent: $mauve;

$arraylist-tag-color: $subtext0;

$menu-button-loader-color: white;
$clickgui-grid-color: rgba(127, 127, 127, 0.25);

$hotbar-base-color: black;
$hotbar-text-color: white;
/* TODO: currently unused */
$hotbar-experience-color: $green;
$hotbar-health-color: $red;
$hotbar-hunger-color: $flamingo;

$menu-account-premium-color: $accent;
$overlay0: rgba(211, 211, 211, 255);
$menu-error-color: $red;